* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #1d273b; */
    color: white;
    font-weight: 300;
}

.contenedor {
    width: 90%;
    max-width: 98%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}


.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: 0px;
    overflow: hidden;
    padding: 60px 0;
    
}


h1 {
    font-size: 50px;
}


/* Header */
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

.inicio-web > img{
    height: 540px;
    width: 100%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    /* background-color: midnightblue; */
/* background-color: #1d273b; */
/* background-color: rgba(0, 0, 0, .2); */
}

nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;

}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.btn-menu{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    /* color: blue; */
    color: midnightblue;
    margin-right: 1%;
    
}

/* .btn-menu:hover{
    border-radius: 12%;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 5px;
} */

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img {
    width: 550px;
    animation: ease-in animat 1s;
}

/* .form-inicio{
    justify-content: space-around;
}  */

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}


.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.titulo {
    font-size: 50px;
}


/* footer */

footer {
    /* background: #f2f2f2;
    background-color: #2e3842; */

    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    /* width: 20%; */
    width: 40%;
    text-align: center;
}

.partFooter h4 {
    /* color: #1d273b; */
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-top: 25px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}   


.partFooter a:hover {
    color: #1FDE82;
}


.partFooter img {
    width: 70%;
}

.p-contacto{
    color: white;
}


.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
}





/************* Diseño de formulario de contacto *************/

form{
    background: #fff;
    width: 100%;
    /* margin: 0px; */
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
    width: 100%;
    height: 20%;
    /* width: 250px; */
    margin: auto;
}

#div-nombre{
    /* position: relative; */
    margin-top: 0px;
}

form .grupo{
    position: relative;
    margin: 45px;
}

.titulo-contacto{
    /* color: white; */
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    font-weight: bold;
    height: 70px;
    width: 100%;
    text-align: center;
    /* margin-left: 5%; */
    color: #0f0c29;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   /*  background: #0f0c29;  */ /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  */ /* Chrome 10-25, Safari 5.1-6 */
   /*  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 30px 10px 10px 10px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
    /* margin-left: 50px; */
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, 
textarea:valid~label{
    position: absolute;
  /*   top: -14px; */
    /* font-size: 12px; */
    /* color: #2196F3; */
}


label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    /* top:10px; */
    top:5px;
    transition: 0.5s ease all;
    pointer-events: none;
    /* background-color: red; */
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}
button{


    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}



@media screen and (max-width:1100px){
    form{
        width: 50%;
    }
}



@media screen and (max-width:600px){
    form{
        width: 60%;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    form{
        width: 90%;
    }
}


/************* Fin de diseño de formulario *************/




/* Breakpoints responsive */

@media screen and (max-width:800px) {
    .titulo {
        font-size: 45px;
    }

    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }

    .contenido-header>img {
        width: 400px;
    }

    .textos-header {
        margin: 0;
    }

 

    /* Footer */

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

#buscar::placeholder{
    font-size: 2px;
}


@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 650px;
    }

    .nav {
        padding: 0 10px;
    }

    .contenido-header>img {
        width: 200px;
    }

    .enlaces-header {
        position: fixed;
        background: #667db6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos {

        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);

    }

    .nav .enlaces-header a {
        color: #fff;
    }

    .hamburguer {
        display: block;
    }

   


/* Formato del menu desplegable */
.pushbar{
/*     background: blue; */
    /* color: white; */
    cursor: pointer;
    list-style: none;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.pushbar > div > ul > li{
    list-style: none;
    
}

.pushbar > div > ul > li > a{
    color: rgb(230, 111, 102);
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid rgba(230, 111, 102, 0.6);
}

.pushbar > div > ul > li > a:hover{
    color: rgb(230, 111, 102, 0.7);
    text-decoration: none;
}

.pushbar .btn-cerrar button:hover{
    color: rgb(230, 111, 102, 0.7);
    text-decoration: none;
}

.pushbar .btn-cerrar{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.pushbar .btn-cerrar button{
    background: none;
    color:  rgb(230, 111, 102);
    border: none;
}
}